
* {
    font-family: "Cantarell", sans-serif;
	background-image: none;
	transition: 20ms;
	box-shadow: none;
}

window {
	background: rgba(0, 0, 0, 0.5);
	background-size: cover;
}

button {
	color: #FFFFFF;
    font-size:18px;

    background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;

	border-style: solid;
	background-color: rgba(0, 0, 0, 0.7);
	border: 3px solid #FFFFFF;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:focus,
button:active,
button:hover {
    color: #afafaf;
	background-color: rgba(255, 255, 255, 0.1);
	border: 3px solid #bbbbbb;
}

/* 
----------------------------------------------------- 
Buttons
----------------------------------------------------- 
*/

#lock {
	margin: 10px;
	border-radius: 10px;
	background-image: image(url("icons/lock.png"));
}

#logout {
	margin: 10px;
	border-radius: 10px;
	background-image: image(url("icons/logout.png"));
}

#suspend {
	margin: 10px;
	border-radius: 10px;
	background-image: image(url("icons/suspend.png"));
}

#hibernate {
	margin: 10px;
	border-radius: 10px;
	background-image: image(url("icons/hibernate.png"));
}

#shutdown {
	margin: 10px;
	border-radius: 10px;
	background-image: image(url("icons/shutdown.png"));
}

#reboot {
	margin: 10px;
	border-radius: 10px;
	background-image: image(url("icons/reboot.png"));
}
